@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.App {
    background-color: #b3e5fc;
    text-align: center;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: #455a64;
}